.tableWrapper table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 1200px;
}

.tHeadStyle th{
  color: rgb(81, 24, 24);
  text-align: center;
  border: 1px solid black;
  padding: 5px 5px;
}

.tBodyStyle td {
  border: 1px solid black;
  padding: 5px 5px;
}

.userRow {
  cursor: pointer;
}

.userRow:hover {
  background-color: rgb(238, 238, 238);
}