body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f8fcf7;
  overflow-y: scroll;
}

body table, body fieldset {
  margin: 0;
}

.mainContainer {
  width: 1127.39px;
  margin: 50px auto ;
}
